@inherits LayoutComponentBase

<div class="page">
    <NavBar />
    <bwasm.admiralfeb.net.Shared.Alert.AlertComponent />

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
